* {
    box-sizing: border-box;
}
.wrapper{
    font-family: 'cuprum', PT Sans, sans-serif;
    font-size: 18px;
    }
.container{
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}
/* Общие классы стилизации */
/* Выравнивание */
.flex { display: flex;} 
.justify-center {justify-content: center;}
.items-center {align-items: center;}
.flex-wrap { flex-wrap: wrap;}
.height-full { height: 100%;}
/* внешний вид */
.list-unstyled { list-style: none; padding: 0; margin: 0; }
:root {
    --basik-red:#EE3643;
    --basik-green:#63A63E;
    --basik-greendark:#5FBB2D;
    --basik-greydark:#293449;
    --basik-grey:#3D546F;
    --basik-greylight:#C5C5C5;
    --basic-background:#F1F5F7;
    --basik-white:#FFFFFF;
    --special-red:#ca2c37;
    --special-reddark:#ba2732;
    --special-ylellow:#FFBF47;
    --special-blue:#3BBCE3;
    --special-lilac:#DC91D8;
    --special-greenlight:#8ED78F;
    --special-greendark:#367315;
    --special-yellowlight:#FFD180;
    --special-line-gradient:#212A3A;
}

.page-header {
    min-width:  100%;
    min-height:  320px;
    background:var(--basic-background);
}
.header-top {
    color: var(--basik-white);
    margin: 0 auto;
    width: 100%;
    height: 42px;
    background: var(--basik-greydark);
    margin-bottom: 45px;
}
/* 
Логотип 
*/
.header-logo {
    flex-basis: 220px;
}
.header-logo-link {
    background: var(--basik-red);
    height: 47px;
    position: relative;
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
    width: 100%;
}
.header-logo-link:active {
    background: var(--special-reddark);
}
.header-logo-img {
    position: relative;
    left: -1px;
    top: -2px;
}
/* 
Поиск
 */
.header-search {
    flex-grow: 1;
    padding: 0  0 0 15px;
    color: #000000;
}
::-webkit-input-placeholder {
    color: var(--basik-white);
}
.header-search-icon {
    margin-right: 5px;
    opacity: .3;
}
.header-search-input {
    background: transparent;
    color: #000000;
    outline: none;
    border: 0;
    font-size: 1rem;
    max-width: 150px;
}
.header-search-active:hover img { opacity: 1;}
.header-search-active:active { background-color: var(--basik-white);}
.header-search-active:active img { background-image: url(../img/icon-search-active.svg)}
/* 
Блок покупки 
*/
.users {
    flex-basis: 450px;
    font-size: 1.125rem;
}
.users-link {
    color: #fff;
    width: 150px;
    text-decoration: none;
}
.users-text,
.users-icon {
    position: relative;
}
.users-text {
    line-height: 24px;
    left: -2px;
}
.users-item:nth-child(2) .users-text { left: -1px; }
.users-item:nth-child(2) .users-icon { left: 1px; }
.users-item:nth-child(3) .users-text { left: 1px; }

.users-icon {
    margin-right: 9px;
    left: -1px;
    opacity: .3;
}
.users-link:hover .users-icon {
    opacity: 1;
}
.user-bookmarks:active { background: #161D29;opacity: 0.5;}
.user-cart:active {opacity: 0.5;}

.user-order { background: var(--basik-green);}

.user-order:hover {
    color: var(--basik-white);
    background:var(--basik-greendark);
}
.user-order:active {
    color: rgba(255, 255, 255, 0.5);
    background: var(--basik-green);
}

/* Блок пользователя */
.info-header {
	justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 35px;
}
.info-text  {
    font-style: italic;
    font-size: 1.125rem;
    line-height: 23px;
    color: var(--basik-red);
    padding: 0;
    margin: 0;
    padding-left: 30px;
}
.info-tel-block .info-text-sity {
    font-size: 0.875rem;
    line-height: 24px;
    color: var(--basik-grey);
    padding: 0;
    margin: 0;
}
/* .info-tel-block .info-text-sity {padding-top: 19px;} */

.info-tel a{
    text-decoration: none; 
    color: var(--basik-red);
}

.info-tel{
    font-size: 1.3122rem;
    line-height: 30px;
    background: #F3F7F9;
    border: 3px solid var(--basik-white);
    box-sizing: border-box;
    padding: 9px 35px 9px 40px;
    /* margin-bottom: -14px; */
}

/* Блок юзера */

.user-block {
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.3125rem;
    line-height: 21px;
}
.user-block img { opacity: 0.5;}
.user-block:hover img { opacity: 1;}
.user-block:active img { opacity: 0.5;}

.user-block a { 
    text-decoration: none;
    color: black;
}
.user-registration { 
    padding: 12px 24px 12px 24px; 
    margin-left:10px;
    background-color:var(--basik-white);
}
.user-login { 
    padding: 12px 27px 12px 19px;
    background-color:var(--basik-white);

}
.user-registration a:hover{ color: var(--basik-red);}

.user-registration a:active{ color: var(--basik-greylight);}

.user-login a:hover{ color: var(--basik-red);}

.user-login a:active{color: var(--basik-red);}

/* Блок навигации */
.header-navigaion-site {
    flex-wrap: wrap;
    font-size: 1.125rem;
    line-height: 24px;
    background:var(--basik-grey);
    box-shadow: inset 0px -5px 0px var(--basik-greydark);
}
.header-navigaion-site ul{
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    font-size: 1.125rem;
    line-height: 24px;
    padding: 0;
    margin: 0;
}
.header-navigaion-site li:first-child{
    margin-left: 20px;
}

.header-navigaion-site li:last-child{
    margin-right: 20px;
}
.header-navigaion-site a{
    display: block;
    text-decoration: none;
    color: var(--basik-white);
    padding: 16px 24px 20px 27px;
}
.header-navigaion-site a:hover{
    background: var(--basik-greydark);
}
.header-navigaion-site a:active{
    color: #a1a4a8;
    background: #1d2739;
}
/* 
Блок преимущества 
*/
.main {
	flex-direction: column;
}
.features-catalog {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:"materials tools tech"  
                        "slider slider discount"
                        "slider slider delivery";
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 123px);
    margin-top: 58px;
    margin-bottom: 59px;
}   
.materials:nth-child(1) { 
    grid-area: materials;
}
.tools:nth-child(2) { 
    grid-area: tools;
}
.tech:nth-child(3) { 
    grid-area: tech;
}
.slider:nth-child(4) { 
    grid-area: slider;
}
.slider:nth-child(5) { 
    grid-area: slider;
}
.materials {
    position: relative;
    background: var(--special-ylellow);
    background-image: url("../img/icon-materials.svg");
    background-repeat: no-repeat;
    background-position: 83% 55%;
}
.tools { 
    background: var(--special-blue);
    background-image: url("../img/icon-tools.svg");
    background-repeat: no-repeat;
    background-position: 87% 55%;
}
.tech{ 
    background: var(--special-lilac);
    background-image: url("../img/icon-tech.svg");
    background-repeat: no-repeat;
    background-position: 87% 55%;
}
.slider { 
    background: red;
}
.discount { 
    background: var(--special-greenlight);
    background-image: url("../img/icon-discount.svg");
    background-repeat: no-repeat;
    background-position: 82% 55%;
}
.delivery { 
    background: #FFC047;
    background-image: url("../img/icon-delivery.svg");
    background-repeat: no-repeat;
    background-position: 87% 55%;
}
.features-catalog p { 
    display: flex; 
    text-align: center;
    align-items: center; 
    font-size: 1.5rem;
    line-height: 30px;
    color: var(--basik-white);
    margin-left: 25px;
    margin-bottom: 17px;
    
}
.features-catalog a {
    font-size: 0.875rem;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basik-white);
    margin-left: 25px;  
}
.features-menu-btn {
    padding: 10px 24px;
    background: rgba(255, 255, 255, 0.3);
}
.features-menu-btn:hover{
    background: #C5C5C5;
    mix-blend-mode: normal;
    opacity: 0.3;
}
.features-menu-btn:active{
    background: #A9A9A9;
    mix-blend-mode: normal;
    opacity: 0.3;
}

/* Популярные товары */

.popular-section-title {
    font-family: Cuprum;
    font-size: 30px;
    margin-left: 30px;
    text-transform: uppercase;
    color: var(--basik-grey); 
}
.popular-title {
    display: flex;
	justify-content: space-between;
    align-items: center;
    background: #F9F5F0; 
}
.popular-button {
    margin-right: 20px;
}
.popular-catalog-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    /* gap: 20px; */
    list-style-type:none;
    margin: 20px 0 0 0;
    padding: 0;
}
.catalog-item {
    min-width: 220px;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
}
.catalog-item:hover{
    box-shadow: 0 8px 25px 5px #c0c0c0;
}
.item-name {
    font-family: PT Sans;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}
.basket-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}
.basket-info h3 {
    margin: 0 auto;
    padding: 0;
}
.catalog-price {
    font-weight: bold;
    color: #999999;
    text-align: center;
    background: none;
    text-decoration: line-through;
}
.price-button {
    position: relative;
    content: "";
    font-weight: bold;
    color: var(--basik-white);
    background: var(--basik-red);
    padding: 10px 10px 10px 15px;
    border-radius: 6px 6px;
    padding: 10px 42px 10px 30px;
    margin-bottom: 21px;
}
/* .price-button::after {
    color: red;
}
.price-button::before {
    color: red;
} */

.catalog-item .action{
    position: relative;
    margin:  0 auto;
    margin-top: 38px;
    width: 135px;
    display: none;
    color: var(--basik-white);
}
.do-shopping {
    color: var(--basik-white);
}
.catalog-item .buy,
.catalog-item .bookmark {
    display: block;
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--basik-white);
    width: 130px;
    padding: 7px 0;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 3px solid var(--basik-green);
    border-bottom-color:var(--special-greendark); 
    background-color: var(--basik-green);; 
    border-radius: 3px;
}
.catalog-item .bookmark{
    color: var(--basik-grey);
    background: var(--basik-white);
    border-bottom-color:var(--basik-green);;
}
.catalog-item  .buy:hover{
    background: var(--basik-greendark);
    border-color: var(--basik-greendark);
    border-bottom-color: var(--special-greendark);
}
.catalog-item .buy:active{
    background: #518534;
    border-color: #518534;
}
.catalog-item .bookmark:hover{
    border-color: var(--basik-grey);
}
.catalog-item .bookmark:active{
    opacity: 0.5;
}

.catalog-item .do-shopping{
    color: var(--basik-white);
    margin-left: -20px;
    margin-right: 20px;
}
.catalog-item .buy:hover .do-shopping{
    color: var(--basik-white);
}
.catalog-item:hover .action{
    display: block;
}
.catalog-item:hover img{
    display: none;
}
.corner-ribbon-materials{
    position: absolute;
    margin-left: 230px;
    margin-bottom: auto;
    width: 59px;
    height: 59px;
}
.corner-ribbon{
    position: absolute;
    margin-left: 147px;
    margin-bottom: auto;
    width: 59px;
    height: 59px;
}
.popular-brands {
    margin-top: 70px;
}
.popular-brands-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    list-style-type: none;
    margin: 20px 0 0 0;
    padding: 0;
}
.popular-list-item {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
    width: 220px;
    background: var(--basik-white);
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
}

.popular-list-item:hover{
    box-shadow: 0 8px 25px 5px #c0c0c0;
}
.popular-list-item:active{
    box-shadow: 0 5px 15px 0px #505050;
    opacity: 0.5;
}

/* Сервис */
.services {
    margin-top: 70px;
    width: 100%;
    background: var(--basic-background);
}
.services-block-title {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
    align-items: baseline;
}

.services-title {
    width: 100%;
}
.services-block-title h2 {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}
.services-text {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}
.services-info {
    width: 240px;
    height: 190px;
}
.services-info .services-botton {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
    font-family: Cuprum;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    padding: 14px 139px 18px 22px;
}
.services-botton {
    font-family: Cuprum;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    min-width: 240px;
    color: var(--basik-white);
    background: var(--basik-grey);
    box-shadow: 0px 1px 0px var(--basik-greydark), inset 0px 1px 0px #405069;
    border:none;
    outline: none;
}
.services-botton:hover {
    color: var(--basik-white);
    transition-duration: 0.2s;
    background: var(--basik-greydark);
    box-shadow: 0px 1px 0px var(--basik-greydark), inset 0px 1px 0px #405069; 
    outline: none;
}
.services-botton:active {
    color: var(--basik-grey);
    transition-duration: 0.2s;
    background: var(--basik-white);
    box-shadow: 0px 1px 0px var(--basik-white);
    outline: none;
}
.services-block-slide {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:center;
	align-items: center;
	align-content: center;
}

.services-block-title img{
    position: absolute;
}
.services-block-slide p{
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}
.services-garant,
.service-credit {
    display: none;
}

/* Дополнительная информация */
.aside-company {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
    align-content: center;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    padding-bottom: 70px;
}
.contacts {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
}

.example-list {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: black;
    padding-left:0px ;
}
.aside-company h2 {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: black;
}
.line-about-company {
    position: relative;

    padding-left: 35px;
    list-style: none;
}
.line-about-company:after{
	content: "";
	position: absolute;
    top: 50%;
    left: 0px;
    width: 25px;
    height: 2px;
    background: #fb565a;
}
.contacts p{
    margin:0;
    margin-bottom: 24px;
}


/* FOOTER */

.page-footer {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    min-width: 100%;
    height: auto;
    background-color: var(--basik-grey);
}
/* footer */

.page-footer li{
    list-style-type: none;
}

.footer-site-navigation {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    align-items: baseline;
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-background);
}
.footer-logo {
    width: 220px;
    height: 47px;
    padding-top: 20px;
    color: var(--basik-white);
    text-align: center;
    text-transform:uppercase;
    background: var(--basik-red);
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}
.footer-logo:hover{
    background: var(--special-red);
    box-shadow: 0 5px 0 0 #9a212a;
}
.footer-logo:active{
    background: var(--special-reddark);
    box-shadow: 0 5px 0 0 #8e1e26;
}
.footer-site-navigation ul{
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    align-items: baseline;
}
.footer-site-navigation li{
    padding-left: 59px;
}
.footer-site-navigation a {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color:var(--basic-background);
    text-decoration: none;
}
.footer-navigation a{
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #FFDA96;
    text-decoration: none;
}
.footer-navigation {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
}
.footer-navigation-list a {
    padding-left: 59px;
}
.footer-navigation-list a:nth-child(1) {
    padding-left: 0;
}
.address-phone {
    color: #F3F7F9;
}
.page-footer-bottom {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--basik-white);
    width: 100%;
    background-color: var(--basik-greydark);
}
.row-footer-bottom {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
    margin-top: 35px;
}
.footer-text-bottom {
    min-width: 227px;
}
.social {
    display: flex;
	justify-content: center;
    align-items: center;
    min-width: 135px;
}
.copyright li {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    align-content: stretch;
    text-align: center;
    align-items: center;
    
}
.copyright li:nth-child(1) {
    float: left;
    padding-right: 60px;
    text-align: left;
    justify-content: flex-start;
	align-items: flex-start;

}
.copyright li:last-child {
    float: right;
    padding-right: 10px;
    justify-content: flex-start;
	align-items: flex-start;

}
.mail-link,
.dev-link {
    color:var(--special-yellowlight);
 }
.visually-hidden {
    position: absolute;
    clip: rect( 0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
 }
    /* BOTTON */
.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: linear-gradient(0deg,var(--special-line-gradient),var(--special-line-gradient));
    border-radius: 50%;
    margin-left: 1px;
}
.social-button:hover,
.social-button:focus {
    background: var(--basik-red);
}
.button {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--basik-white);
    background: var(--basik-red);
    padding: 10px 45px;
    cursor: pointer;
}
.button:hover{
    background: var(--special-red);
}
.button:active{
    background: var(--special-reddark);
}

.contacts-button {
    text-align: center;
    width: 300px;
    padding: 10px 0px;
}
.about-button {
    text-align: center;
    width: 220px;
    padding: 10px 40px;
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}