* {
    box-sizing: border-box;
}
/* Шрифты Cuprum*/
@font-face {font-weight: normal;font-style: normal; font-family: "Cuprum";
    src: local("Cuprum Regular"), local("Cuprum-Regular"),url("../fonts/cuprum.woff2") format("woff2"),  url("../fonts/cuprum.wof") format("woff");
}
  
@font-face {font-weight: bold; font-style: normal; font-family: "Cuprum";
    src: local("Cuprum Bold"), local("Cuprum-Bold"), url("../fonts/cuprumbold.woff2") format("woff2"), url("../fonts/cuprumbold.woff") format("woff"); 
}
  
@font-face {font-weight: normal;font-style: italic; font-family: "Cuprum";
    src: local("Cuprum Italic"), local("Cuprum-Italic"), url("../fonts/cuprumitalic.woff2") format("woff2"), url("../fonts/cuprumitalic.woff") format("woff"); 
}
  
@font-face {font-weight: bold;font-style: italic; font-family: "Cuprum";
    src: local("Cuprum Bold Italic"), local("Cuprum-BoldItalic"), url("../fonts/cuprumbolditalic.woff2") format("woff2"),  url("../fonts/cuprumbolditalic.woff") format("woff");  
}
  
@font-face {font-weight: normal;font-style: normal; font-family: "PTSans";
    src: local("PTSans Regular"), local("PTSans-Regular"), url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}
  
@font-face {font-weight: bold; font-style: normal; font-family: "PTSans";
    src: local("PTSans Bold"), local("PTSans-Bold"), url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}

/* Глобальные классы */
.wrapper {
    font-family: 'cuprum', PT Sans, sans-serif;
    font-size: 18px;
    position: relative;
}

.container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}

/* Общие классы стилизации */
/* Выравнивание */

.flex { display: flex;} 
.justify-center {justify-content: center;}
.items-center {align-items: center;}
.flex-wrap { flex-wrap: wrap;}
.height-full { height: 100%;}
.list-unstyled { list-style: none; padding: 0; margin: 0; }

/* Кастомные свойства */
:root {
    --basic-red:#EE3643;
    --basic-green:#63A63E;
    --basic-greendark:#5FBB2D;
    --basic-greydark:#293449;
    --basic-grey:#3D546F;
    --basic-greylight:#C5C5C5;
    --basic-background:#F1F5F7;
    --basic-white:#FFFFFF;
    --basic-black:#000000;
    --special-red:#ca2c37;
    --special-reddark:#ba2732;
    --special-ylellow:#FFBF47;
    --special-lightyellow: #FFC047;
    --special-blue:#3BBCE3;
    --special-lilac:#DC91D8;
    --special-greenlight:#8ED78F;
    --special-greendark:#367315;
    --special-yellowlight:#FFD180;
    --special-line-gradient:#212A3A;
    --special-palegrey: #F3F7F9;
    --special-greydirty:#EAEAEA;
    --special-greyitem:#999999;;
    --special-darkpurpleblue:#161D29;
    --special-greylittle:#a1a4a8;
    --special-nightblue:#1d2739;
    --special-seashell:#F9F5F0;
    --special-silver: #c0c0c0;
    --special-greenichbuy:#518534;
    --special-greywetlist:#505050;
    --special-greyishbtn:#405069;
    --special-purpur-blue: #32425C;
    --special-greywhite:#F7F3EC;
    --specail-greyicon:#C1C6CE;
    --special-greyicontwo:#e5e5e5;
}
/* Общие стили */

/* Стилизация кнопок */
.button {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--basic-white);
    background: var(--basic-red);
}
.button:hover{
    background: var(--special-red);
}
.button:active{
    background: var(--special-reddark);
}
/* Блок svg новинка */
.corner-ribbon {
    position: absolute;
    right: 0;
    top: 0px;
    padding: 35px;
    background-image: url("../img/corner-ribbon.svg");
    background-repeat: no-repeat;
}
/* скрытие элементов */

.visually-hidden {
    position: absolute;
    clip: rect( 0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/* Стилизация главной страницы */
/* Шапка сайта */
.page-header {
    min-width:  100%;
    min-height:  320px;
    background:var(--basic-background);
}

.header-top {
    color: var(--basic-white);
    margin: 0 auto;
    width: 100%;
    height: 42px;
    background: var(--basic-greydark);
}

.main {
    flex-direction: column;
}
/* Логотип  header-logo */

.header-logo {
    flex-basis: 220px;
}

.header-logo-link {
    height: 47px;
    position: relative;
    background: var(--basic-red);
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
    width: 100%;
}

.header-logo-link:active {
    background: var(--special-reddark);
}

.header-logo-img {
    position: relative;
    left: -1px;
    top: -2px;
}

/* Поиск */
.header-search {
    position: relative;
    flex-grow: 1;
    padding: 0 0 0 15px;
    color: var(--basic-black);
}



.header-search-input {
    position: relative;
    font-size: 18px;
    background: transparent;
    color: var(--basic-black);
    border: 0;
    max-width: 150px;
    outline: var(--basic-white);
}
.header-search-input::placeholder{
    color: var(--basic-white);
}

.search-icon {
    opacity: .3;
    margin-right: 5px;
}

.header-search:hover .search-icon{
    opacity: 1;
}

.header-search:focus-within { 
    background-color: var(--basic-white);
}
.header-search:focus-within .search-icon { 
    filter: invert(27%) sepia(90%) saturate(7478%) hue-rotate(356deg) brightness(113%) contrast(119%);
}

/* Блок покупки users */

.users {
    flex-basis: 450px;
    font-size: 18px;
}

.users-link {
    position: relative;
    color: var(--basic-white);
    width: 150px;
    text-decoration: none;
}

.users-text,
.users-icon {
    position: relative;
}

.users-text {
    line-height: 24px;
    left: -2px;
}

.users-item:nth-child(2) .users-text { left: -1px; }
.users-item:nth-child(2) .users-icon { left: 1px; }
.users-item:nth-child(3) .users-text { left: 1px; }

.users-icon {
    margin-right: 9px;
    left: -1px;
    opacity: .3;
}

.users-link:hover .users-icon {
    opacity: 1;
}

.user-bookmarks:active { 
    background: var(--special-darkpurpleblue);
    opacity: .5;
} 

.users-link-active {
    background-color: var(--basic-red);
    opacity: 1;
} 
/* Обязательные требования 3.2. */

.user-cart:active {
    opacity: .5;
}

.user-order { 
    background: var(--basic-green);
}

.user-order:hover {
    color: var(--basic-white);
    background:var(--basic-greendark);
}

.user-order:active {
    color: rgba(255, 255, 255, 0.5);
    background: var(--basic-green);
}

/* Блок пользователя  info-header */

.info-header {
    flex-wrap: wrap;
	justify-content: space-between;
    align-items: flex-start;
    padding: 45px 0;
}

.info-header ul {
    margin: 0;
    padding: 0;
}

.info-text  {
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: var(--basic-red);
    padding: 0;
    margin: 0;
    padding-left: 30px;
}

.info-tel-block {
    width: 270px;
    margin-left: 47px;
} 

.info-text-sity {
    position: relative;
    left: 10px;
    top: 6px;
    font-size: 14px;
    line-height: 24px;
    color: var(--basic-grey);
    margin: 0;
}

.info-tel {
    position: relative;
    font-size: 21px;
    line-height: 30px;
    background: var(--special-palegrey);
    border: 3px solid var(--basic-white);
    box-sizing: border-box;
    padding: 9px 40px 9px 40px;
}

.tel {
    position: absolute;
    top: 6px;
    right: 48px;
    text-decoration: none; 
    color: var(--basic-red);
}

/* Блок пользователя user-block */

.user-block {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 300px;
    font-size: 21px;
    line-height: 21px;
    list-style: none;
    margin: 0;
}

.user-img { 
    opacity: .5;
}

.user-img:hover {
     opacity: 1;
}

.user-img:active{ 
    opacity: .5;
}

.user-block a { 
    text-decoration: none;
    color: black;
}

.user-registration { 
    padding: 12px 24px 12px 24px; 
    background-color:var(--basic-white);
}

.user-login { 
    margin-left: 20px;
    padding: 12px 27px 12px 19px;
    background-color:var(--basic-white);
}

.user-registration a:hover{ 
    color: var(--basic-red);
}

.user-registration a:active{ 
    color: var(--basic-greylight);
}

.user-login a:hover{ 
    color: var(--basic-red);
}

.user-login a:active{ 
    color: var(--basic-greylight);
}

/* Блок навигации header-navigaion */
.header-navigaion-site {
    font-size: 18px;
    line-height: 24px;
    background:var(--basic-grey);
    box-shadow: inset 0px -5px 0px var(--basic-greydark);
}

.nav-header {
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 20px;
    margin: 0;
}

.navigation-link {
    display: block;
    text-decoration: none;
    color: var(--basic-white);
    padding: 16px 24px 20px 33px;
}

.navigation-link:hover{
    background: var(--basic-greydark);
}

.navigation-link:active{
    color: var(--special-greylittle);
    background: var(--special-nightblue);
}


/* Блок преимущества features */

.features {
    padding-top: 59px;
    padding-bottom: 59px;
}

.features-catalog {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:"materials tools tech"  
                        "slider slider discount"
                        "slider slider delivery";
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 123px);

}   

.materials:nth-child(1) { 
    grid-area: materials;
}

.tools:nth-child(2) { 
    grid-area: tools;
}

.tech:nth-child(3) { 
    grid-area: tech;
}

.slider:nth-child(4) { 
    grid-area: slider;
}

.slider:nth-child(5) { 
    grid-area: slider;
}

/* Блок преимущества - Позиционирование ячеек и оформление */
.materials {
    position: relative;
    background: var(--special-ylellow);
    background-image: url("../img/icon-materials.svg");
    background-repeat: no-repeat;
    background-position: 83% 55%;
}

.tools { 
    background: var(--special-blue);
    background-image: url("../img/icon-tools.svg");
    background-repeat: no-repeat;
    background-position: 87% 55%;
}

.tech{ 
    background: var(--special-lilac);
    background-image: url("../img/icon-tech.svg");
    background-repeat: no-repeat;
    background-position: 87% 55%;
}

.slider {
    position: relative;
    box-shadow: 0px 104px 0px 0px rgba(10, 11, 11, 0.25) inset;
}

.discount { 
    background: var(--special-greenlight);
    background-image: url("../img/icon-discount.svg");
    background-repeat: no-repeat;
    background-position: 82% 55%;
}

.delivery { 
    background: var(--special-lightyellow);
    background-image: url("../img/icon-delivery.svg");
    background-repeat: no-repeat;
    background-position: 87% 55%;
}


.features-text { 
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    top: 20px;
    left: 23px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-white);
    margin: 0;
    
}

.features-menu-btn {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-white);
    position: relative;
    top: 41px;
    left: 21px;
}

.features-menu-btn {
    display: inline-block;
    min-width: 135px;
    text-align: center;
    padding: 10px 24px;
    background: rgba(255, 255, 255, 0.3);
}


.features-menu-btn:hover{
    background: rgba(197, 197, 197, 0.3);
}

.features-menu-btn:active{
    background: rgba(169, 169, 169, 0.3);
}

/* Слайдер блока преимущества slider */

.slider-list {
    position: relative;
}

.slider-button {
    position: relative;
    left: 25px;
    bottom: 56px;
    padding: 11px 46px 9px 46px;
}

.slide-title {
    font-family: Cuprum;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: var(--basic-white);
    padding: 24px 24px 5px 24px;
    margin: 0;
}

.slide-text {
    font-family: Cuprum;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
    padding-left: 24px;
    margin: 0;
}

.slide1 {
    min-height: 266px;
    background-image: url("../img/Perforator-slide.png");
    background-repeat: no-repeat;
}

.slide2 {
    min-height: 266px;
    background-image: url("../img/Dreli-slide.png");
    background-repeat: no-repeat;
}

.slide-button {
    padding: 10px;
    background-color: var(--basic-red);
    border-radius: 50%;
}

.slide-button:focus {
    border-radius: 50%;
    background-color: var(--basic-red);
}   

.slide-btn1 {
    content: "";
    top: 129px;
    left: 92%;
    position: absolute;
    width: 23px;
    height: 23px;
    border-top: 3px solid var(--basic-white);
    border-right: 3px solid var(--basic-white);
    transform: rotate(45deg);
}

.slide-btn2 {
    content: "";
    top: 129px;
    right: 91%;
    position: absolute;
    width: 23px;
    height: 23px;
    border-top: 3px solid var(--basic-white);
    border-right: 3px solid var(--basic-white);
    transform: rotate(-135deg);
}

.slide-btn1:active {
    content: "";
    top: 129px;
    left: 92%;
    position: absolute;
    width: 23px;
    height: 23px;
    border-top: 3px solid var(--basic-red);
    border-right: 3px solid var(--basic-red);
    transform: rotate(45deg);
}

.slide-btn2:active {
    content: "";
    top: 129px;
    right: 91%;
    position: absolute;
    width: 23px;
    height: 23px;
    border-top: 3px solid var(--basic-red);
    border-right: 3px solid var(--basic-red);
    transform: rotate(-135deg);
}

.slider-controls {
    position: absolute;
    bottom: 55px;
    left: 294px;

    display: flex;
    width: 32px;
    justify-content: space-between;
}

.slider-controls button {
    padding: 0;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: 2px solid var(--basic-white);
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls .current {
    background-color: var(--basic-red);
}

/* Популярные товары popular-products */

.popular-products {
    margin-top: 9px;
    padding-bottom: 5px;
}
.products-button {
    margin-right: 14px;
    padding: 11px 24px 9px 24px;
}

.popular-section-title {
    flex-wrap: wrap;
    font-size: 30px;
    margin: 0 0 0 30px;
    text-transform: uppercase;
    color: var(--basic-grey);
    letter-spacing: -1px;
}

.popular-title {
    padding: 24px 4px 24px 0px;
	justify-content: space-between;
    background:var(--special-seashell);
}

.popular-button {
    margin-right: 14px;
    padding: 11px 24px 9px 24px;
}

.popular-catalog-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    list-style-type:none;
    margin-top: 20px;
    margin-bottom: 17px;
    padding: 0;
}

/* Карточка товара - блока популярные товары*/

.catalog-item {
    position: relative;
    border: 1px solid var(--special-greydirty);
    box-sizing: border-box;
}

.catalog-item:hover{
    box-shadow: 0 8px 25px 5px var(--special-silver);
}

.catalog-item-gallery {
    min-height: 164px;
}

.item-name {
    padding: 14px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    margin: 0;
}

.basket-info {
    flex-direction: column;
}

.catalog-price {
    display: block;
    margin-top: 5px;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    color: var(--special-greyitem);
    text-decoration: line-through;
}

.catalog-price-hidden {
    margin-top: 20px;   
}

/* Кнопка товара */

.price-button {
    position: relative;
    content: "";
    font-weight: bold;
    min-width: 132px;
    text-align: center;
    color: var(--basic-white);
    background: var(--basic-red);
    border-radius: 6px 3px 3px 6px;
    padding: 9px 20px 9px 30px;
    margin-bottom: 21px;
    text-decoration: none;
}

.price-button::after {
    position: absolute;
    left: 131px;
    top: 1px;
    content: '';
    border-style: solid;
    border-width: 18px;
    border-color: transparent;
    border-left-color: var(--basic-red);
}


/* Состояние карточки товара */

.catalog-item .action {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 164px;
    margin: 0 auto;
    padding: 40px;
    display: none;
    color: var(--basic-white);
}

.do-shopping {
    color: var(--basic-white);
}

.cart {
    padding: 20px;
    background-color: red;
}

.buy,
.bookmark {
    display: block;
    width: 130px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--basic-white);
    padding: 7px 0;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 3px solid var(--basic-green);
    border-bottom-color:var(--special-greendark); 
    background-color: var(--basic-green);; 
    border-radius: 3px;
}

.buy {
    background-image: url("../img/icon-cart-buy.svg");
    background-repeat: no-repeat;
    background-position: 15px 7px;
}

.bookmark{
    color: var(--basic-grey);
    background: var(--basic-white);
    border-bottom-color:var(--basic-green);;
}

.buy:hover{
    background: var(--basic-greendark);
    border-color: var(--basic-greendark);
    border-bottom-color: var(--special-greendark);
    background-image: url("../img/icon-cart-buy.svg");
    background-repeat: no-repeat;
    background-position: 15px 7px;
}

.buy:active{
    background: var(--special-greenichbuy);
    border-color: var(--special-greenichbuy);
    background-image: url("../img/icon-cart-buy.svg");
    background-repeat: no-repeat;
    background-position: 15px 7px;
}

.bookmark:hover{
    border-color: var(--basic-grey);
}

.bookmark:active{
    opacity: .5;
}

.do-shopping{
    color: var(--basic-white);
}

.catalog-item:hover .action{
    display: block;
}

.catalog-item:hover img{
    display: none;
}

/* Блок популярных брендов popular-brands */

.popular-brands {
    padding-top: 50px;
    margin-bottom: 70px;
}

.popular-brands-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 20px 0 0 0;
    margin: 0;
}

.popular-list-item {
    position: relative;
    min-width: 220px;
    min-height: 145px;
    background: var(--basic-white);
    border: 1px solid var(--special-greydirty);
    box-sizing: border-box;
}

.popular-button { 
    padding: 11px 39px 9px 39px;
}

.popular-list-item:hover {
    box-shadow: 0 8px 25px 5px var(--special-silver);
}

/* кликабельность для ссылки */
.popular-brand-item::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
}

.popular-list-item:active{
    box-shadow: 0 5px 15px 0px var(--special-greywetlist);
    opacity: .5;
}

/* Блок Сервис services */
.services {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background: var(--basic-background);
}

.services-block-title {
    margin-top: 45px;
    flex-wrap: wrap;
}

.services-title {
    width: 100%;
    margin-bottom: 52px;
}

.services-block-title h2{
    margin: 0;
}

.services-block-title p{
    margin: 0;
}

.services-block-slide p {
    font-family: PT Sans;
    font-size: 13px;
    line-height: 24px;
}

.services-block-title h2 {
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.services-text {
    font-size: 13px;
    line-height: 24px;
    padding-top: 25px;
}

.services-control-list {
    display: flex;
    flex-direction: column;
    list-style-type:none;
    min-width: 240px;
    position: relative;
    bottom: 28px;
    margin: 0;
    padding: 0;
}
.services-slide-list {
    position: relative;
    top: 21px;
    padding: 0;
    margin: 0;
}

/* Полоска тени у кнопок */
.shadow-servis {
    position: absolute;
    bottom: -45px;
    width: 10px;
    height: 279px;
    left: 231px;
    background-image: url("../img/box-shadow-servis.svg");
    z-index: 1;
}

/* Сервис кнопки */

.services-bottom {
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    padding: 18px 24px 18px 24px;
    color: var(--basic-white);
    background: var(--basic-grey);
    box-shadow: 0px 1px 0px var(--basic-greydark), inset 0px 1px 0px var(--special-greyishbtn);
    border:none;
}

.services-bottom:hover {
    color: var(--basic-white);
    background: var(--basic-greydark);
    box-shadow: 0px 1px 0px var(--basic-greydark), inset 0px 1px 0px var(--special-greyishbtn);
    transition-duration: 0.2s; 
}

.services-bottom:active, 
.services-bottom.select {
    color: var(--basic-grey);
    background: var(--basic-white);
    box-shadow: 0px 1px 0px var(--basic-white);
    transition-duration: 0.2s;
}

/* Блок сервис - слайд */

.services-block-slide  {
    position: relative;
}

.services-block-slide a {
    text-decoration: none;
}

.service-slide {
    display: none;
    position: relative;
    top: -2px;
    left: 80px;
    min-width: 620px;
    min-height: 285px;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.service-slide.select {
    display: flex;
    flex-direction: column;
}

.service-slide h2 {
    font-family: Cuprum;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color:var(--special-purpur-blue);
}

.service-slide p {
    flex-wrap: wrap;
    max-width: 300px;
    font-family: PT Sans;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
    padding-top: 30px;
}

.service-slide-delivery { 
    background-image: url("../img/services-delivery.png");
}

.service-slide-credit {
    background-image: url("../img/services-kredit.png");
}

.service-slide-guaranty {
    background-image: url("../img/services-garant.png");
}


/* Блок - дополнительная информация aside */

.aside-information {    
    position: relative;
    padding-top: 50px;
}

.aside-company {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
    align-content: center;
    padding-bottom: 70px;
}

.about-company-title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
    letter-spacing: -1px;
    margin: 0;
}

.aside-company p {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    padding-top: 26px;
}

.about-company {
    flex-wrap: wrap;
    max-width: 450px;
    padding-top: 20px;
}

.contacts {
	flex-direction: column;
	flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 20px;
}

.contacts-title {
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
}

.example-list {
    list-style: none;
    padding-left:0px ;
    padding-bottom: 16px;
    margin: 0;
}

.example-text {
    font-size: 13px;  
}

.line-about-company {
    position: relative;
    font-size: 18px;
    line-height: 24px;
    color: black;
    padding-left: 35px;
    padding-bottom: 12px;
    list-style: none;
}

.line-about-company:after {
	content: "";
	position: absolute;
    top: 33%;
    left: 0px;
    width: 25px;
    height: 2px;
    background: #fb565a;
}

.contacts-text {
    margin:0;
}

.contacts-button {
    text-align: center;
    width: 300px;
    padding: 10px 0px;
    margin-top: 25px;
    margin-bottom: -4px;
}

.button-map {
    padding-top: 27px;
}

.about-button {
    text-align: center;
    width: 220px;
    padding: 10px 40px;
}


/* FOOTER */

.page-footer {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    min-width: 100%;
    height: auto;
    background-color: var(--basic-grey);
}

/* footer общие стили*/
.page-footer-top { 
    padding-bottom: 55px;
}

/* footer логотип */

.footer-logo {
    height: 70px;
    background: var(--basic-red);
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.footer-logo:active {
    background: var(--special-reddark);
    box-shadow: 0 5px 0 0 #8e1e26;
} 

.footer-logo img { 
    margin: 41px; 
}

/* footer навигация */

.footer-site-navigation {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    align-items: baseline;
    position: relative;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-background);
}

.footer-checklist {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    align-items: baseline;
    position: relative;
    top: 10px;
    list-style: none;
    margin: 0;
}

.footer-navigation-link {
    font-size: 18px;
    line-height: 24px;
    color:var(--basic-background);
    text-decoration: none;
}

/* декорирование подвала навигации */

.footer-checklist { 
    margin: 0;
}

.footer-checklist li{ 
    padding-right: 59px; 
}

.footer-checklist li:last-child{ 
    padding-right: 0px; 
}

.footer-list a { 
    color: var(--special-ylellow); 
}

.footer-checklist a:hover {
    text-decoration: underline; 
}

.footer-checklist a:active {
    opacity: .5;
}

.address-phone {
    font-size: 18px;
    line-height: 24px;
    color: var(--special-palegrey);
    padding-top: 20px;
    margin: 0px;
}

.page-footer-bottom {
    font-size: 0.888rem;
    line-height: 18px;
    color: var(--basic-white);
    width: 100%;
    background-color: var(--basic-greydark);
}

.row-footer-bottom {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
    align-content: stretch;
    margin-top: 20px;
}

.footer-text-bottom {
    position: relative;
    left: 3px;
    bottom: 2px;
    min-width: 227px;
    font-size: 0.9rem;
    line-height: 18px;
}
/*Кнопки - социальные сети */

.social {
    min-width: 135px;
    position: relative;
    left: 10px;
    list-style: none;
    margin: 0;
}

.copyright {
    padding-top: 10px;
}

.copyright li {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    align-content: stretch;
    text-align: center;
    align-items: center;
    position: relative;
    bottom: 10px;
    right: 20px;
    font-size: 0.9rem;
    line-height: 18px;
}

.copyright li:nth-child(1) {
    float: left;
    padding-right: 60px;
    text-align: left;
    justify-content: flex-start;
	align-items: flex-start;

}
.copyright li:last-child {
    float: right;
    padding-right: 10px;
    justify-content: flex-start;
	align-items: flex-start;
}

.copyright a {
    text-decoration: none;
}

.mail-link,
.dev-link {
    color:var(--special-yellowlight);
}

.mail-link:hover,
.dev-link:hover {
    text-decoration: underline;
}

.mail-link:active,
.dev-link:active {
    color:var(--basic-red);
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: linear-gradient(0deg,var(--special-line-gradient),var(--special-line-gradient));
    border-radius: 50%;
    margin-left: 1px;
}
.social-button:hover,
.social-button:focus {
    background: var(--basic-red);
}


/* Модальные окна главной страницы  */
/* Модальное окно обратной связи */

.modal {
    position: absolute;
    top: 0;
    z-index: 2;
    color: var(--basic-black);
    background-color: var(--basic-white);
}
.modal-user {
    display: none;

}
.modal-user input::placeholder {
    display: flex;
    align-items: center;
    font-family: PT Sans;
    font-size: 13px;
    line-height: 24px;
    color: #A9A9A9;
}
.firm-modal-widow {
    width: 620px;
    height: 430px;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
    background-color:var(--basic-white);
    box-shadow: inset 0px 7px 0px 0px rgba(255, 0, 0, 1);
}


.form-modal-window {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    padding:11px 78px 0;
    list-style: none;
    margin: 0;
}
.form-name {
    margin-right: 20px;
}
.form-modal-window input {
    min-width: 220px;
    min-height: 32px;
    background: var(--basic-white);
    border: 2px solid var(--basic-greylight);
    box-sizing: border-box;
    border-radius: 2px;
}
.modal-text input{
    min-width: 460px;
    min-height: 114px;
}

.modal-text p { 
    margin: 14px 5px; 
}

.form-sub { 
    padding-top: 76px; 
}

.form-sub input {
    min-width: 460px;
    height: 37px;
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    background: var(--basic-red);
}

.modal-footer {
    position: absolute;
    z-index: -1;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 112px;
    background: #F4F4F4;
}

.modal-close-user {
    position: absolute;
    top: 11px;
    right: -20px;
    width: 22px;
    height: 22px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.modal-close-user::before,
.modal-close-user::after {
    content: "";
    position: absolute;
    top: 10px;
    left: -35px;
    width: 20px;
    height: 5px;
    background-color: var(--basic-red);
}

.modal-close-user::before { 
    transform: rotate(45deg); 
}

.modal-close-user::after { 
    transform: rotate(-45deg); 
}

.modal-show-user {
    display: block;
    width: 620px;
    height: 430px;
    left: 50%;
    top: 0;
    margin-left: -315px;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
    background-color:var(--basic-white);
    box-shadow: inset 0px 7px 0px 0px rgba(255, 0, 0, 1);
}

/*Модальное окно карты */

.modal-map {
    display: none;
    width: 940px;
    height: 450px;
}

.modal-show iframe { 
    border: none; 
}

.modal-show { 
    display: block; 
    width: 940px;
    height: 450px;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
    border: 7px solid white;
}

.modal-close {
    position: absolute;
    top: 11px;
    right: -20px;
    width: 22px;
    height: 22px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: -35px;
    width: 20px;
    height: 5px;
    background-color: var(--basic-red);
}

.modal-close::before { 
    transform: rotate(45deg); 
}

.modal-close::after { 
    transform: rotate(-45deg); 
}

/* Модальные окна главной страницы */


/* 
Страница. 
Каталог catalog - catalog.html 
*/
.main-content {
    display: grid;
    grid-template-columns: 220px 700px;
    grid-template-rows: 38px 1fr;
    gap: 0px 20px;
    grid-template-areas:
        ". ."
        ". .";
}
.filter-item {
    border: 0px;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid var(--basic-greylight);
}



/* Контент страницы каталога */

.user-name {
    position: relative;
    width: 299px;
    text-align: center;
    padding: 12px 24px 12px 24px; 
    margin-left:10px;
    background-color:var(--basic-white);
}

.user-profile {
    position: absolute;
    top: 14px;
    left: 20px;
}
.user-exit {
    position: absolute;
    left: 241px;    
}
.my-order a{
    font-family: Cuprum;
    font-size: 16px;
    line-height: 18px;
    color:var(--special-purpur-blue);
    padding: 0 15px;
}

.my-order a:first-child {
    margin-left: 25px;
}

.user-name a:hover { 
    color: var(--basic-red);
}

.my-order a:hover { 
    color: var(--basic-red);
}

.user-name a:active { 
    color: var(--basic-greylight);
}

.my-order a:active { 
    color: var(--basic-greylight);
}

/* Хлебные крошки breadcrumbs */

.catalog-title {
    flex-wrap: wrap;
    margin: 0 auto ;
    
}

.breadcrumbs {
    position: relative;
    padding: 20px 0;
    margin: 0;
}

.icon-home {
    position: absolute;
    top: 1px;
    padding-right: 45px;
}

.icon-home::after {
    content: "";
    top: 6px;
    position: absolute;
    width: 8px;
    height: 8px;
    border-top: 1px solid var(--specail-greyicon);
    border-right: 1px solid var(--specail-greyicon);
    transform: rotate(45deg);
    margin-left: 15px;
}

.breadcrumbs a {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--basic-black);
}

.breadcrumbs li {
    position: relative;
    padding: 0px 17px 0 36px;
    text-decoration: none;
}

.breadcrumbs li:first-child {
    padding: 0px 17px 0 0;
    text-decoration: none;
}

.breadcrumbs li:after {
    content: "";
    top: 7px;
    position: absolute;
    width: 8px;
    height: 8px;
    border-top: 1px solid var(--specail-greyicon);
    border-right: 1px solid var(--specail-greyicon);
    transform: rotate(45deg);
    margin-left: 17px;
}

.breadcrumbs li:last-child:after {
    content: none;
}

.breadcrumbs li:first-child:after {
    content: none;
} 
   
/* Основные классы центрального контекта */

.Product  h2 {
    width: 100%;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--special-purpur-blue);
    padding: 29px 30px 29px 30px;
    background-color: #F2F6F8;
    margin: 0;
    margin-bottom: 20px;
}

.title-text  h3{
    font-family: PT Sans;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--basic-black); 
    padding: 10px  0px 10px 20px;
    margin: 0;
    background: var(--special-greywhite);
}

.catalog-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    list-style-type:none;
    padding: 0;
}

/* Согласно стайлгайд'у отображение заблокированным элемента */

.filter-input-disabled  {
    opacity: .4;
}

/* Отсутствует в макете,но логичен в соответствии с 9 лайвом */
/* .filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--special-reddark);
}

.filter-input-radio:hover + label,
.filter-input-radio:focus + label {
  color: var(--special-reddark);
} */

/*фильтр цены - "ползунок"*/

.range-filter {
	width: 220px;
}

.range-controls{
    position: relative;
	height: 80px;
	background: var(--special-greywhite);
    padding: 0 20px;
    margin-top: 9px;
	margin-bottom: 15px;
	border-radius: 4px;
}

.range-controls .scale{
	position: relative;
	top: 39px;
	height: 2px;
	background:  #D7DCDE;
}

.scale .bar{
	height: 2px;
	background: #00ca74;
}

.range-controls .toggle{
	position: absolute;
	top: 30px;
	left: 20px;
	width: 20px;
	height: 20px;
	background: #ababab;
	border: 8px solid var(--basic-white);
	border-radius: 50%;
	box-shadow: 0 2px 1px #cfcfcf;
	cursor: pointer;
}

.range-controls .max-toggle{
	left: 145px;
}

.price-controls input {
	text-align: center;
	width: 95px;
	height: 38px;
	background: var(--special-greywhite);
    padding: 10px;
    margin-bottom: 25px;
	border: none;
	border-radius: 4px;
}

.price-controls .min-price {
    margin-right: 5px;
}

.price-controls .max-price {
	margin-left: 5px;
}

/*сортировка каталога - центральный фильтр*/

.content-right-filter {
    position: relative;
    height: 38px;
    width: 100%;
    padding-top: 10px;
    border-radius: 4px;
}

.content-right-filter h3 {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0;
    margin-right: 75px;
    margin-left: 20px;
}

.right-filter a {
	font-size: 13px;
    line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	color: #c4c1bb;
	margin-left: 65px;
	border-bottom: 1px dotted var(--basic-red);
}

.right-filter a:hover {
    color: var(--basic-black);
    border-bottom: 1px solid var(--basic-red);
}

.right-filter .active {
    color: var(--basic-red);
    border: none;
}

.filter-btn {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
    left: 90px;
    width: 43px;
}

.filter-btn-top {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid var(--basic-greylight);
}

.filter-btn-bottom {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid var(--basic-greylight);
}

/* Левый фильтр */

/*фильтры каталога с радио/чекбокс кнопками*/

.content-left-title {
    font-family: PT Sans;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
}
.filter-list {
    list-style: none;
    margin: 0;    
}

.filter-search {
    font-family: PT Sans;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.content-left-filter {
    position: relative;
}

.btn-filter-checkbox {
    padding: 5px 5px 5px 5px;
    margin-bottom: 20px;
}

.filter-search label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -40px;
    top: -4px;
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox:checked  + label::before {
    display: none;
}

.filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    left: -40px;
    top: -4px;
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -40px;
    top: -7px;
    width: 21px;
    height: 21px;
    border: 4px solid var(--basic-greylight);
    border-radius: 50%;
}

.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    left: -32px;
    top: 1px;
    width: 13px;
    height: 13px;
    background-color: var(--basic-greylight);
    border-radius: 50%;
}



.filter-show {
    min-height: 38px;
    min-width: 220px;
    font-family: PT Sans;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    margin-top: 23px;
    background: var(--basic-white);
    border: 1px solid var(--special-greyicontwo);
}

.filter-show:hover {
    border-color: #bdc6ca;
}

.filter-show:active {
    color: var(--basic-white);
    background: var(--basic-red);
    border-color: var(--basic-red);
}

/* нумерация страниц paginator */

.paginator {
    padding: 13px 0;
    margin-top: 48px;
    margin-bottom: 50px;
}

.paginator-button {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--basic-black);
    background: var(--basic-white);
    padding: 10px 15px;
    margin-right: 5px;
    border: 1px solid var(--special-greyicontwo);
    border-radius: 3px;
}

.paginator a:last-child {
    padding: 10px 30px;
}

.paginator-button:hover {
    border-color: #bdc6ca;
}

.paginator-button:active {
    border-color: var(--basic-red);
}

.paginator .active {
    color: var(--basic-white);
    background: var(--basic-red);
    border-color: var(--basic-red);
}

/* Дополнительная информация страницы каталога aside */

.aside {
    width: 100%;
    background-color: var(--basic-background);
}
.about-product {
    padding-top: 64px;
}

.about-product-title {
    font-size: 29px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0px;
}

.about-product-text{
    font-family: PT Sans;
    font-size: 13px;
    line-height: 24px;
    padding-top: 26px;
    padding-bottom: 68px;
    margin: 0px;
}

.bread_crumb-bottum {
    width: 100%;
    flex-wrap: wrap;
}

/* Модальное окно корзины страницы каталога */

.modal-basket {
    display: none;
    position: absolute;
    left: 40%;
    top: 25%;
}
.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 620px;
    height: 280px;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
    background-color:var(--basic-white);
    box-shadow: inset 0px 7px 0px 0px rgba(255, 0, 0, 1);
}

.modal-basket-title {
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
}

.modal-basket-title svg {    
    position: absolute;
    left: 90px;
}

.modal-basket-title h3 {
    font-family: Cuprum;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-black);
}
.modal-form .button-basket {
    position: relative;
    font-family: Cuprum;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    border: 0px;
}
.basket-order,
.next-order {
    width: 192px;
    height: 38px;
    vertical-align: middle;
    text-transform: uppercase;
    border: 0px;
}
.next-order {
    margin-left: 10px;
    background-color: var(--basic-white);
}
.modal-close-basket {
    position: absolute;
    top: 11px;
    right: -20px;
    width: 22px;
    height: 22px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.modal-close-basket::before,
.modal-close-basket::after {
    content: "";
    position: absolute;
    top: 10px;
    left: -35px;
    width: 20px;
    height: 5px;
    background-color: var(--basic-red);
}
.modal-close-basket::before { 
    transform: rotate(45deg); 
}

.modal-close-basket::after {
     transform: rotate(-45deg); 
    }

.modal-show-basket {
    display: block;
    position: absolute;
    left: 40%;
    top: 25%;
}